<!doctype html>
<html>
<body>
<meta http-equiv="refresh" content="10">
<h2>Welcome to Phone Buzz</h2>
<h3>Input your number and the number of seconds you want the call after</h3>

<form action="/html_call/" method="post" enctype="application/x-www-form-urlencoded">
Phone Number:<br>
<input type="text" name="phno"><br>
Delay:<br>
    <input type="number" name="delaymin" value="0" min="0" step="1"> minutes
    <input type="number" name="delay" value="0" min="0" step="1"> seconds <br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
<br>
<br>
<H3>History of Calls</H3>
<table border = 1>
         <thead>
            <td>No.</td>
            <td>Phone Number</td>
            <td>Delay</td>
            <td>Number Entered</td>
         </thead>

         {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td> {{ row[3]}}</td>
            </tr>
         {% endfor %}
      </table>

<h4>If you want to call directly and play, please call +1(408)669-3946</h4>
<h4>By <a href="https://github.com/ganeshramc">Ganeshram Chockalingam</a></h4>
<h4>Find the project at <a href="https://github.com/ganeshramc/PhoneBuzz"> https://github.com/ganeshramc/PhoneBuzz </h4>
</body>
</html>